h1 {
	color: orange;
}
body {
	background: lightcyan;
}
img {
	width: 50%;
}
div	{display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
	 }

p {
	font-size: 130%;
}
h2 {
	font-size: 16pt;
}
#intro{
	background-color: yellow;
}

.first{
	font-size: 200%;
	color: blue;	
}


#intro .first{
	color: red;
}

#intro .first em{
	color: green;
}
