h1 {
	color: orange;
}
.type1 {width: 30%; display:block; margin: 0px auto }

p {
	font-size: 130%;
}

#intro{
	background-color: yellow;
}

.first{
	font-size: 200%;
	color: blue;	
}


#intro .first{
	color: red;
}

#intro .first em{
	color: green;
}
